<% if @token != nil %>
  <p>You are now authenticated</p>
  <form action="/recipients/new" method="get">
    <input type="submit" value="New Recipient" class="btn btn-primary btn-block">
  </form>
  <form action="/recipients" method="get">
    <input type="submit" value="Make payment" class="btn btn-primary btn-block">
  </form>
<% else %>
  <p>Something went wrong with your CoolPay key. Try again</p>
<% end %>
